.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
}

.left-h > img {
  width: 100%;
  height: 50px;
}
.center-h {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.center-h > span {
  font-weight: 400;
  color: white;
  text-transform: uppercase;
}
.center-h > span:hover {
  cursor: pointer;
}
